.bg-grey {
  background-color: #e0eeff; /* light blue */
}
.bg-white {
  background-color: #ffffff; /* white */
}
.container-fluid {
  padding: 30px 50px;
}
.bg-blue {
  background-color: #77bbff !important; /* medium blue */
  color: white;
}
.noisescore {
  color: #dd3322; /* Red */
}
.list-group-item {
  font-size: 25px;
}
