.jumbotron {
  background-color: #5f77dd !important; /* blue */
  /* background-image: url("../../pics/home_airplane.jpg"); */
  background-size: cover !important;
  padding-top: 10% !important;
  padding-bottom: 10% !important;
  color: #ffffff;
}
