.navbar {
  margin-bottom: 0;
  background-color: #554488; /* purple background color*/
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff !important; /* white text color */
  transition: color 1s;
  transition: background-color 1s;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #554488 !important; /* purple text color when hover*/
  background-color: #fff !important; /* white background color when hover */
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.nav-item {
  padding-right: 10px;
}
.nav-link {
  font-size: 12px;
}

.logo {
  max-height: 50px;
}