.bg-blue {
  background-color: #e0eeff; /* light blue */
}
.container-fluid {
  padding: 5% 15%;
}
.row {
  padding-left: 10%;
  padding-right: 10%;
}
.button-blue {
  background-color: #77bbff !important; /* medium blue */
  color: white !important;
  font-weight: bold !important;
}
.btn-default:hover {
  background-color: #8064a2 !important;
  color: white !important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.button-white {
  background-color: white !important;
  color: #77bbff !important; /* medium blue */
  font-weight: bold !important;
}
.left-pic {
  position: relative;
  left: 25%;
  width: 60%;
}
.right-pic {
  position: relative;
  left: -15%;
  width: 60%;
}
/*!!!sliding!!!*/
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
